<header>
<h1>{{pageTitle}}</h1>
<table>
    <tr>
        <td>
            <p><a href="/">Home</a></p>
            </td>
        <td>
            <p><a href="/about">About</a></p>
            </td>
            <td>
            <p><a href="/projects">Projects</a></p>
            </td>
</tr>

</table>

</header>